header
.home(role='main')
	section.images
		.grid-2
			.img
				h2 Original
				canvas(width='150', height='150')
		.grid-2
			.img
				h2 Best
				canvas(width='150', height='150')
		.grid-2
			.img
				h2 Evolving
				canvas(width='150', height='150')				
		.grid-2.stats
			h2 &nbsp;
			span Fitness
			span Improvements
			span Mutations
footer