@font-face
	font-family 'AstuteSSiLight'
	src url('../fonts/AstuteSSiLight/fon01293-webfont.eot')
	src url('../fonts/AstuteSSiLight/fon01293-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AstuteSSiLight/fon01293-webfont.woff') format('woff'), url('../fonts/AstuteSSiLight/fon01293-webfont.ttf') format('truetype'), url('../fonts/AstuteSSiLight/fon01293-webfont.svg#') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'AstuteSSiRegular'
	src url('../fonts/AstuteSSiRegular/fon01295-webfont.eot')
	src url('../fonts/AstuteSSiRegular/fon01295-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AstuteSSiRegular/fon01295-webfont.woff') format('woff'), url('../fonts/AstuteSSiRegular/fon01295-webfont.ttf') format('truetype'), url('../fonts/AstuteSSiRegular/fon01295-webfont.svg#AstuteSSiRegular') format('svg')
	font-weight normal
	font-style normal
