.home
	padding-left width-1-col

	section
		&.images
			.img
				padding-right padding-block * 2
				canvas
					border 5px solid color-gray
					border-radius 16px
				h2
					text-align center

			.stats
				span
					display block
					margin-bottom padding-block * 2
				
		