// Grids
.grid-1
	float left
	width width-1-col
.grid-2
	float left
	width width-2-col
.grid-3
	float left
	width width-3-col
.grid-4
	float left
	width width-4-col
.grid-5
	float left
	width width-5-col
.grid-6
	float left
	width width-6-col

// Floats
.left
	float left
.right
	float right

// h2, h3

h2
h3
	color color-gray
	font-family 'AstuteSSiRegular'
	font-weight normal
h2
	font-size 1.4em
	margin 0.3em 0

h3
	font-size 1.1em
	margin-top 0

span
	color color-gray-light
	font-family 'AstuteSSiLight'
	font-size 1.1em