/* =============================================================================
	 Colors
	 ========================================================================== */

/* Colors for form validity */
input-invalid = #f0dddd

/* Links */
a-color = #00e
a-visited = #551a8b
a-hover = #06e

/* Selection */
selection-bg = #fe57a1
selection-color = #fff
selection-text-shadow = none

/* =============================================================================
	 Colors
	 ========================================================================== */

/* html, button, input, select, textarea */
font = sans-serif
font-color = #222

color-gray = #6d6e71
color-gray-light = #7f8082

//
width-base = 100px
width-1-col = width-base * 1
width-2-col = width-base * 2
width-3-col = width-base * 3
width-4-col = width-base * 4
width-5-col = width-base * 5
width-6-col = width-base * 6

padding-block = 20px